[project]
	description = Ansible role to install zookeeper cluster for MidoNet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/syoder89
[access "refs/for/refs/*"]
	read = group user/syoder89
	push = group user/syoder89
	label-Code-Review = -2..+2 group user/syoder89
	label-Verified = -1..+1 group user/syoder89
	rebase = group user/syoder89
	removeReviewer = group user/syoder89
	submit = group user/syoder89
[access "refs/heads/*"]
	read = group user/syoder89
	create = group user/syoder89
	push = +force group user/syoder89
	pushMerge = group user/syoder89
[access "refs/tags/*"]
	push = +force group user/syoder89
	pushTag = group user/syoder89
	pushSignedTag = group user/syoder89
